@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //    font-family: 'Inter', sans-serif; 3 5 7
}

h1,
h3,
p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

h1,
h3 {
  color: $darkBlue;
}

h3 {
  font-weight: 700;
}

p {
  color: $grayishBlue;
}

body {
  position: relative;
  height: 91vh;

  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  overflow: hidden;

  @media screen and( min-width:64rem) {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .imgBlock {
    @media screen and (min-width: 64rem) {
      width: 40%;
      transform: scale(1.7);
    }
    .img {
      position: relative;
      margin: 0 auto;
      margin-top: 5rem;
      padding: 0 3rem;
      width: 375px;

      @media screen and( min-width:64rem) {
        margin: unset;
      }

      &::before {
        //background image
        position: absolute;
        content: "";
        margin: 0 3rem;
        top: -2rem;
        left: -2rem;
        right: -3rem;
        bottom: -3rem;
        background-image: url("../images/pattern-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;

        @media screen and( min-width:64rem) {
          top: -3rem;
          left: -3rem;
          bottom: -3rem;
          right: -3rem;
        }
      }

      & > img {
        width: 100%;
        box-shadow: 5px 13px 27px -7px $darkBlue;
      }

      .buttonWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -1.3rem;

        @media screen and( min-width:64rem) {
          width: 50%;
        }

        button {
          background-color: white;
          height: 36px;
          width: 40px;
          box-shadow: 5px 13px 27px -7px $darkBlue;
          border: none;
          transition: background-color 0.3s ease-in;

          &:hover,
          &:focus {
            background-color: turquoise;
          }

          &:active {
            background-color: $darkBlue;
          }
        }
      }

      #btnPrev {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }

      #btnNext {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
  }

  section {
    margin: 3rem auto;
    margin-top: 5rem;
    padding: 0 3rem;
    width: 375px;
    text-align: center;

    @media screen and( min-width:64rem) {
      text-align: left;
      margin: unset;
      padding: unset;
      width: 50%;
    }

    h1 {
      position: relative;
      font-size: 1.3rem;

      @media screen and (min-width: 64rem) {
        font-size: 1.8rem;
      }

      &::before {
        //quotes icon
        position: absolute;
        content: "";
        width: 20%;
        height: 38%;
        top: -2rem;
        left: 7.5rem;
        background-image: url("../images/pattern-quotes.svg");
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (min-width: 64rem) {
          top: -3rem;
          left: 5.5rem;
        }
      }
    }

    h3 {
      margin-top: 2rem;
      font-size: 1rem;
      
      @media screen and (min-width: 64rem) {
        display: inline-block;
        font-size: 1.1rem;
      }
    }

    p {
      margin-top: 0.3rem;

      @media screen and (min-width: 64rem) {
        display: inline-block;
      }
    }
  }
}
